In [7]:
import numpy as np
import pandas as pd
from asl_data import AslDb
asl = AslDb() # initializes the database
asl.df.head() # displays the first five rows of the asl database, indexed by video and frame

             left-x  left-y  right-x  right-y  nose-x  nose-y  speaker
video frame
98    0         149     181      170      175     161      62  woman-1
      1         149     181      170      175     161      62  woman-1
      2         149     181      170      175     161      62  woman-1
      3         149     181      170      175     161      62  woman-1
      4         149     181      170      175     161      62  woman-1

In [ ]:
                  SelectorBIC,         SelectorDIC,        SelectorCV
features_ground,  0.5617977528089888   0.5786516853932584   0.5617977528089888
                   78 out of 178        75 out of 178        78 out of 178
features_polar    0.5280898876404494   0.5449438202247191   0.5337078651685393
                  84 out of 178         81 out of 178         83 out of 178

CV:
  100: *IX NEW CAR BREAK-DOWN                                        POSS NEW CAR BREAK-DOWN
    2: JOHN *ARRIVE *NEW                                             JOHN WRITE HOMEWORK
   67: JOHN FUTURE NOT BUY HOUSE                                     JOHN FUTURE NOT BUY HOUSE

customed features       BIC                                    DIC
features_norm_poldel   0.5842696629213483           0.5898876404494382
                        74 out of 178                73 /178
features_podel,        0.5                          0.5337078651685393
                       89 out of 178                 83/178
features_norm_pol      0.5842696629213483           0.5674157303370787
                       74 out of 178                  77 out of 178

In [10]:
features_polar = ['polar-rr', 'polar-rtheta', 'polar-lr', 'polar-ltheta']
asl.df['polar-rr'] = np.sqrt((asl.df['right-x']- asl.df['nose-x'])**2 + (asl.df['right-y']-asl.df['nose-y'])**2)
asl.df['polar-rtheta'] = np.arctan2(asl.df['right-x']- asl.df['nose-x'],asl.df['right-y'] - asl.df['nose-y'])
asl.df['polar-lr'] = np.sqrt((asl.df['left-x']-asl.df['nose-x'])**2 + (asl.df['left-y']-asl.df['nose-y'])**2)
asl.df['polar-ltheta'] = np.arctan2(asl.df['left-x']- asl.df['nose-x'], asl.df['left-y'] - asl.df['nose-y'])
[asl.df.ix[98,1][v] for v in features_polar]

[113.35784048754634,
 0.079478244608206572,
 119.60351165413162,
 -0.10050059905462982]

In [11]:
df_means = asl.df.groupby('speaker').mean()
df_means

,left-x,left-y,right-x,right-y,nose-x,nose-y,polar-rr,polar-rtheta,polar-lr,polar-ltheta
speaker,,,,,,,,,,
man-1,206.248203,218.679449,155.464350,150.371031,175.031756,61.642600,95.464412,-0.307396,161.326053,0.209727
woman-1,164.661438,161.271242,151.017865,117.332462,162.655120,57.245098,65.125528,-0.302214,105.968447,0.060601
woman-2,183.214509,176.527232,156.866295,119.835714,170.318973,58.022098,67.297449,-0.258632,120.640838,0.132688

In [12]:
df_std = asl.df.groupby('speaker').std()
df_std

,left-x,left-y,right-x,right-y,nose-x,nose-y,polar-rr,polar-rtheta,polar-lr,polar-ltheta
speaker,,,,,,,,,,
man-1,15.154425,36.328485,18.901917,54.902340,6.654573,5.520045,49.130795,0.383495,34.261750,0.162199
woman-1,17.573442,26.594521,16.459943,34.667787,3.549392,3.538330,30.654063,0.397837,25.133829,0.219121
woman-2,15.388711,28.825025,14.890288,39.649111,4.099760,3.416167,35.581422,0.472623,27.234249,0.181267

In [14]:
features_norm_pol = ['norm-rr', 'norm-rtheta', 'norm-lr','norm-ltheta'] 
#asl.df['norm-rx'] = asl.df['right-x']/asl.df['speaker'].map(df_std['right-x'])-(df_means['right-x']/df_std['right-x'])
asl.df['norm-rr'] = (asl.df['polar-rr'] - asl.df['speaker'].map(df_means['polar-rr'])) \
    /asl.df['speaker'].map(df_std['polar-rr'])
asl.df['norm-rtheta'] = (asl.df['polar-rtheta'] - asl.df['speaker'].map(df_means['polar-rtheta'])) \
    /asl.df['speaker'].map(df_std['polar-rtheta'])
asl.df['norm-lr'] = (asl.df['polar-lr'] - asl.df['speaker'].map(df_means['polar-lr'])) \
    /asl.df['speaker'].map(df_std['polar-lr'])
asl.df['norm-ltheta'] = (asl.df['polar-ltheta'] - asl.df['speaker'].map(df_means['polar-ltheta'])) \
    /asl.df['speaker'].map(df_std['polar-ltheta'])
[asl.df.ix[98,1][v] for v in features_norm_pol]

[1.5734394584886571,
 0.95941868201635139,
 0.54249851337954813,
 -0.73521895146904148]

In [16]:
features_norm_poldel = ['normpd-rr', 'normpd-rtheta', 'normpd-lr','normpd-ltheta']
asl.df['normpd-rr'] = asl.df['norm-rr'] + asl.df['norm-rr'].diff().fillna(0)
asl.df['normpd-rtheta'] = asl.df['norm-rtheta'] + asl.df['norm-rtheta'].diff().fillna(0)
asl.df['normpd-lr'] = asl.df['norm-lr'] + asl.df['norm-lr'].diff().fillna(0)
asl.df['normpd-ltheta'] = asl.df['norm-ltheta'] + asl.df['norm-ltheta'].diff().fillna(0)
[asl.df.ix[98,36][v] for v in features_norm_poldel]

[-1.1557046744922284,
 -1.2145301794899983,
 0.35270699978281728,
 -0.86910200185638209]